<% content_for?(:title) %>
<div class="container">
  <%= link_to "Add movie", new_movie_path, class: "btn btn-info float-right", role: "button" %>
</div>
<br><br>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Certificate</th>
      <th>Duration</th>
      <th>Star cast</th>
      <th>Release date</th>
    </tr>

    <% @movies.each do |movie| %>
      <tr>
        <td> <%= movie.id %> </td>
        <td> <%= movie.name %> </td>
        <td> <%= movie.description %> </td>
        <td> <%= movie.certificate %> </td>
        <td> <%= movie.duration %> </td>
        <td> <%= movie.star_cast %> </td>
        <td> <%= movie.release_date %> </td>
        <td> <%= link_to "Details", movie_path(movie.id) %> </td>
        <td> <%= link_to "Edit", edit_movie_path(movie.id) %> </td>
        <td> <%= link_to "Remove", movie_path(movie.id), method: :delete %> </td>
      </tr>
    <% end %>
  </table>
</div>
